.icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}
.fb-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/icons/fb-icon.png);
}
.tw-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/icons/tw-icon.png);
}
.inst-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/icons/inst-icon.png);
}